
@font-face {
    font-family:GothamRounded-Light;
    src:url(../fonts/GothamRounded-Light/GothamRounded-Light.eot) format('embedded-opentype');
    font-weight:400;
    font-style:normal
}

@font-face {
	font-family: GothamRounded-LightItalic;
	src: url(../fonts/GothamRounded-Light/GothamRounded-LightItalic.woff) format('woff');
}

@font-face {
    font-family:GothamRounded-Light;
    src:url(../fonts/GothamRounded-Light/GothamRounded-Light.otf) format('opentype'),url(../fonts/GothamRounded-Light/GothamRounded-Light.woff) format('woff'),url(../fonts/GothamRounded-Light/GothamRounded-Light.ttf) format('truetype'),url(../fonts/GothamRounded-Light/GothamRounded-Light.svg#GothamRounded-Light) format('svg');
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:GothamRounded-Bold;
    src: url(../fonts/GothamRounded-Light/GothamRounded-Light.otf) format('opentype'), url(../fonts/GothamRounded-Bold/GothamRounded-Bold.woff) format('woff'), url(../fonts/GothamRounded-Light/GothamRounded-Light.ttf) format('truetype');
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:GothamRounded-Book;
    src:url(../fonts/GothamRounded-Book/GothamRounded-Book.otf) format('opentype'),url(../fonts/GothamRounded-Book/GothamRounded-Book.woff) format('woff'),url(../fonts/GothamRounded-Book/GothamRounded-Book.ttf) format('truetype'),url(../fonts/GothamRounded-Book/GothamRounded-Book.svg#GothamRounded-Book) format('svg');
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:GothamRounded-Medium;
    src:url(../fonts/GothamRounded-Medium/GothamRounded-Medium.otf) format('opentype'),url(../fonts/GothamRounded-Book/GothamRounded-Book.woff) format('woff'),url(../fonts/GothamRounded-Medium/GothamRounded-Medium.otf) format('truetype');
    font-weight:400;
    font-style:normal
}

body {
    font-color: black; 
    font-size: 14px;
    font-family:  "GothamRounded-Book";
}

h1 {
   font-family:  "GothamRounded-Medium"; 
   color:    rgba(0,0,0,.54);
}

h2 {
    font-family:  "GothamRounded-Medium";
    color: rgba(0,0,0,.54);
}

h3 {
    font-family:  "GothamRounded-Medium"; 
    color: rgba(0,0,0,.54);
}

h4 {
    font-family: "GothamRounded-Light";
    font-size: 16px;
}

@media only screen and (min-width: 76.25em) {
  .md-content-no-toc {
    /*margin-left: 12.1rem;*/
  }
  .md-sidebar-no-toc {
    width: 181px;
  }
}

@media only screen and (min-width: 60em) {
  .md-content-no-toc {
    margin-right: 0;
  }
}
